.env
.env.*
!.env.example 

# Папка виртуального окружения
venv/
/venv/
.venv/
*/.venv/

# --- Файлы базы данных ---
# Локальная база данных SQLite. В продакшене будет другая СУБД.
fastapi.db
*.db
*.sqlite3

# --- Python кэш и артефакты ---
# Кэш-файлы, которые Python создает для ускорения импортов
__pycache__/
*.py[cod]
*$py.class

# --- Инструменты разработки и IDE ---
# Папки конфигурации от популярных IDE
.vscode/
.idea/

# --- Инструменты тестирования ---
# Отчеты о покрытии кода тестами и кэш pytest
.pytest_cache/
.coverage
htmlcov/
.tox/