apiVersion: v1
kind: Secret
metadata:
  name: app-secret
  namespace: fastapi-with-bot
type: Opaque
data:
  DB_USER: QmxvZw== #FastAPI
  DB_PASSWORD: RmFzdEFQSQ== #Blog
  SECRET_KEY: #Ваш SECRET_KEY
  BOT_TOKEN: #Ваш BOT_TOKEN